@using NamLao206.Models
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Nam Lào 206</title>
    <meta name="description" content="@ViewBag.Summary" />
    <meta property="og:title" content="@ViewBag.Title - Bệnh viện Phụ Sản - Nhi Đà Nẵng">
    <meta property="og:description" content="@ViewBag.Summary">
    <meta property="og:image" content="@ViewBag.urlPic">

    <meta property="og:image" content="~/Content/TrangChu/assets/images/Logo/logo.png" />
    <meta name="Author" content="Nam Lào 206" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/EponaTheme/assets/images/demo/favicon.ico" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="~/Content/EponaTheme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/line-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/flexslider.css" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER -->
    <link href="~/Content/EponaTheme/assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/layerslider.css" rel="stylesheet" type="text/css" />

    <!-- SHOP -->
    <link href="~/Content/EponaTheme/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="~/Content/EponaTheme/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/header-4.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/footer-default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <!-- Morenizr -->
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/modernizr.min.js"></script>

    <!--[if lte IE 8]>
        <script src="~/Content/EponaTheme/assets/plugins/respond.js"></script>
    <![endif]-->
</head>

<!--
    Available body classes:
        smoothscroll			= enable chrome browser smooth scroll
        grey 					= grey content background
        boxed 					= boxed style
        pattern1 ... pattern10 	= background pattern

    Background Image - add to body:
        data-background="~/Content/EponaTheme/assets/images/boxed_background/1.jpg"
-->
<body class="smoothscroll">

    <div id="wrapper">

        <div id="header">
            <!-- class="sticky" for sticky menu -->
            <!-- Top Bar -->
            <header id="topBar">
                <div class="container">

                    <div class="pull-left fsize13 hide_mobile">

                        <div class="block text-right">
                            <!-- social -->
                            <a href="#" class="social fa fa-facebook"></a>
                            <a href="#" class="social fa fa-twitter"></a>
                            <a href="#" class="social fa fa-google-plus"></a>
                            <a href="#" class="social fa fa-linkedin"></a>
                            <a href="#" class="social fa fa-pinterest"></a>
                        </div><!-- /social -->

                    </div>

                    <div id="barMain">
                        <nav class="nav-second">
                            <ul class="nav nav-pills nav-second">
                                <li><a href="#"><i class="fa fa-angle-right"></i> About</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Login</a></li>
                                <li class="hidden-xs"><a href="#"><i class="fa fa-angle-right"></i> Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>

                </div><!-- /.container -->
            </header>
            <!-- /Top Bar -->
            <!-- Top Nav -->
            <header id="topNav">
                <div class="container">

                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <img src="~/Content/EponaTheme/assets/images/logo.png" height="50" alt="" />
                    </a>

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Search -->
                    <form class="search" method="get" action="page-search.html">
                        <input type="text" class="form-control" name="s" value="" placeholder="Search">
                        <button class="fa fa-search"></button>
                    </form>
                    <!-- /Search -->
                    <!-- Top Nav -->
                    <div class="navbar-collapse nav-main-collapse collapse">
                        <nav class="nav-main">

                            <!--
                                NOTE

                                For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                                Direct Link Example:

                                <li>
                                    <a href="#">HOME</a>
                                </li>
                            -->
                            <ul id="topMain" class="nav nav-pills nav-main">
                                <li class="mega-menu dropdown">
                                    <a class="dropdown-toggle" href="/Home/Trangchu">
                                        <strong>TRANG CHỦ</strong><span>Xin chào</span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#"><strong>GIỚI THIỆU</strong><span>Thông tin</span></a>
                                    <ul class="dropdown-menu">
                                        @Html.Partial("_topicsGioiThieu", new namlao206dbEntities().Topics)

                                    </ul>
                                </li>
                                <li class="dropdown mega-menu">
                                    <a class="dropdown-toggle" href="#"><strong>ĐƠN VỊ</strong><span>Phòng ban</span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="row">
                                                @Html.Partial("_menuPhongBan", new namlao206dbEntities().DM_NhomPhongBans)
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#"><strong>TIN TỨC</strong><span>Sự kiện</span></a>
                                    <ul class="dropdown-menu">
                                        @Html.Partial("_topicsNhom2", new namlao206dbEntities().Topics)
                                    </ul>
                                </li>                              
       
                            </ul>

                        </nav>
                    </div>
                    <!-- /Top Nav -->

                </div><!-- /.container -->
            </header>
            <!-- /Top Nav -->

        </div>



        <!-- REVOLUTION SLIDER -->
        <div class="container margin-top60">
            <div class="slider fullwidthbanner-container roundedcorners">
                <div class="fullwidthbanner">
                    <ul class="hide">

                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <img src="~/Content/EponaTheme/assets/images/1x1.png" data-lazyload="/Content/EponaTheme/assets/images/demo/flickr_16.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                            <div class="tp-caption lft start"
                                 data-x="-86"
                                 data-y="296"
                                 data-speed="750"
                                 data-start="750"
                                 data-easing="easeOutExpo"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <img src="~/Content/EponaTheme/assets/images/1x1.png" alt="" data-lazyload="../Content/EponaTheme/assets/images/caption_bg.png">
                            </div>

                            <div class="tp-caption medium_light_white lfb start"
                                 data-x="44"
                                 data-y="320"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                Epona: #1<br /> Template
                            </div>

                            <div class="tp-caption small_light_white lfb start"
                                 data-x="44"
                                 data-y="400"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <small>Awesome sliders give you the opportunity <br /> to showcase important content.</small>
                            </div>

                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <img src="~/Content/EponaTheme/assets/images/1x1.png" data-lazyload="../Content/EponaTheme/assets/images/demo/flickr_14.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                            <div class="tp-caption lft start"
                                 data-x="0"
                                 data-y="0"
                                 data-speed="750"
                                 data-start="750"
                                 data-easing="easeOutExpo"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <img src="~/Content/EponaTheme/assets/images/1x1.png" alt="" data-lazyload="../Content/EponaTheme/assets/images/caption_bg.png">
                            </div>

                            <div class="tp-caption medium_light_white lfb start"
                                 data-x="left" data-hoffset="70"
                                 data-y="96"
                                 data-speed="300"
                                 data-start="1200"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                Epona Great<br /> Revolution Captions
                            </div>

                            <div class="tp-caption block_black lfl start"
                                 data-x="left" data-hoffset="70"
                                 data-y="195"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                New Features Always Added
                            </div>

                            <div class="tp-caption small_light_white lfl start"
                                 data-x="left" data-hoffset="70"
                                 data-y="250"
                                 data-speed="1000"
                                 data-start="1800"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <small>Awesome sliders give you the opportunity to<br /> showcase important content. Epona will constantly be<br /> updatedwith brand new features and additions</small>
                            </div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                            <img src="~/Content/EponaTheme/assets/images/1x1.png" data-lazyload="../Content/EponaTheme/assets/images/demo/flickr_13.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                            <div class="tp-caption lft start"
                                 data-x="right"
                                 data-y="0"
                                 data-speed="750"
                                 data-start="750"
                                 data-easing="easeOutExpo"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <img src="~/Content/EponaTheme/assets/images/1x1.png" alt="" data-lazyload="../Content/EponaTheme/assets/images/caption_bg.png">
                            </div>

                            <div class="tp-caption medium_light_white lfb start"
                                 data-x="left" data-hoffset="810"
                                 data-y="96"
                                 data-speed="300"
                                 data-start="1200"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                Epona Great<br /> Revolution Captions
                            </div>

                            <div class="tp-caption block_black lfl start"
                                 data-x="left" data-hoffset="810"
                                 data-y="195"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                New Features Always Added
                            </div>

                            <div class="tp-caption small_light_white lfl start"
                                 data-x="left" data-hoffset="810"
                                 data-y="250"
                                 data-speed="1000"
                                 data-start="1800"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <small>Awesome sliders give you the opportunity to<br /> showcase important content. Epona will constantly be<br /> updatedwith brand new features and additions</small>
                            </div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-thumb="~/Content/EponaTheme/assets/images/demo/thumb_blue.jpg">
                            <img src="~/Content/EponaTheme/assets/images/1x1.png" data-lazyload="~/Content/EponaTheme/assets/images/demo/blue.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                            <div class="tp-caption lft start"
                                 data-x="0"
                                 data-y="0"
                                 data-speed="750"
                                 data-start="750"
                                 data-easing="easeOutExpo"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <img src="~/Content/EponaTheme/assets/images/1x1.png" alt="" data-lazyload="~/Content/EponaTheme/assets/images/caption_bg.png">
                            </div>

                            <div class="tp-caption medium_light_white lfb start"
                                 data-x="left" data-hoffset="70"
                                 data-y="96"
                                 data-speed="300"
                                 data-start="1200"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                Epona Great<br /> Revolution Captions
                            </div>

                            <div class="tp-caption block_black lfl start"
                                 data-x="left" data-hoffset="70"
                                 data-y="195"
                                 data-speed="300"
                                 data-start="1500"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                New Features Always Added
                            </div>

                            <div class="tp-caption small_light_white lfl start"
                                 data-x="left" data-hoffset="70"
                                 data-y="250"
                                 data-speed="1000"
                                 data-start="1800"
                                 data-easing="easeOutExpo"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300">
                                <small>Awesome sliders give you the opportunity to<br /> showcase important content. Epona will constantly be<br /> updatedwith brand new features and additions</small>
                            </div>

                            <div class="tp-caption lfb"
                                 data-x="right" data-hoffset="-70"
                                 data-y="40"
                                 data-speed="2000"
                                 data-start="500"
                                 data-easing="easeOutExpo"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="300"
                                 style="z-index: 2;">
                                <img src="~/Content/EponaTheme/assets/images/1x1.png" alt="" data-lazyload="~/Content/EponaTheme/assets/images/demo/desktop.png">
                            </div>

                        </li>

                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>

        </div>
        <!-- /REVOLUTION SLIDER -->
      
        <!-- POPULAR -->
        <section>
            @RenderBody()
        </section>
        <!-- /POPULAR -->
        <!-- SECTION -->
        <section class="alternate">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h3><strong>Amazing</strong> tools to build <strong>awesome</strong> websites</h3>
                        <ul class="list-icon spaced check-circle">
                            <li>Fully responsive so your content will always look good on any device</li>
                            <li>Cool sliders give you the opportunity to showcase your content</li>
                            <li>Advanced template options to easily customize your website</li>
                            <li>Multiple layout options for home pages, portfolio, shop and blog</li>
                            <li>Incredible shortcodes for easy customization</li>
                            <li>Free lifetime update because we care about your website as much as you</li>
                        </ul>

                        <div class="margin-top20">
                            <!-- buttons -->
                            <a href="#purchase" target="_blank" rel="nofollow" class="btn btn-primary">PURCHASE EPONA</a>
                            <a href="#" class="btn btn-default">PRICING</a>
                        </div><!-- /buttons -->

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- right image -->
                        <img class="img-responsive appear-animation" data-animation="fadeIn" src="~/Content/EponaTheme/assets/images/demo/laptop.png" alt="" />
                    </div><!-- /right image -->
                </div>

            </div>
        </section>
        <!-- /SECTION -->
        <!-- FOOTER -->
        <footer id="footer">
            <div class="container">

                <div class="row">

                    <!-- col #1 -->
                    <div class="logo_footer dark col-md-3">

                        <img alt="" src="~/Content/EponaTheme/assets/images/logo_footer.png" height="50" class="logo" />

                        <p class="block">
                            4th Street, Suite 88<br />
                            New York NY 10887<br />
                            Email: <a href="~/Content/EponaTheme/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4e37213b3c2b232f27220e37213b3c2a21232f2720602d2123">[email&#160;protected]</a><br />
                            Phone: +40 (0) 111 1234 567<br />
                            Fax: +40 (0) 111 1234 568<br />
                        </p>

                        <p class="block">
                            <!-- social -->
                            <a href="#" class="social fa fa-facebook"></a>
                            <a href="#" class="social fa fa-twitter"></a>
                            <a href="#" class="social fa fa-google-plus"></a>
                            <a href="#" class="social fa fa-linkedin"></a>
                        </p><!-- /social -->
                    </div>
                    <!-- /col #1 -->
                    <!-- col #2 -->
                    <div class="spaced col-md-3 col-sm-4 hidden-xs">
                        <h4>Recent <strong>Posts</strong></h4>
                        <ul class="list-unstyled">
                            <li>
                                <a class="block" href="#">New CSS3 Transitions this Year</a>
                                <small>June 29, 2014</small>
                            </li>
                            <li>
                                <a class="block" href="#">Inteligent Transitions In UX Design</a>
                                <small>June 29, 2014</small>
                            </li>
                            <li>
                                <a class="block" href="#">Lorem Ipsum Dolor</a>
                                <small>June 29, 2014</small>
                            </li>
                        </ul>
                    </div>
                    <!-- /col #2 -->
                    <!-- col #3 -->
                    <div class="spaced col-md-3 col-sm-4 hidden-xs">
                        <h4>Recent <strong>Tweets</strong></h4>
                        <ul class="list-unstyled fsize13">
                            <li>
                                <i class="fa fa-twitter"></i> <a href="#"> Doe</a> Pilsum dolor lorem sit consectetur adipiscing orem sequat <small class="ago">8 mins ago</small>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i> <a href="#"> Doe</a> Remonde sequat ipsum dolor lorem sit consectetur adipiscing  <small class="ago">8 mins ago</small>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i> <a href="#"> Doe</a> Imperdiet condimentum diam dolor lorem sit consectetur adipiscing <small class="ago">8 mins ago</small>
                            </li>
                        </ul>
                    </div>
                    <!-- /col #3 -->
                    <!-- col #4 -->
                    <div class="spaced col-md-3 col-sm-4">
                        <h4>About <strong>Us</strong></h4>
                        <p>
                            Incredibly beautiful responsive Bootstrap Template for Corporate and Creative Professionals.
                        </p>

                        <h4><small><strong>Subscribe to our Newsletter</strong></small></h4>
                        <form id="newsletterSubscribe" method="post" action="php/newsletter.php" class="input-group">
                            <input required type="email" class="form-control" name="newsletter_email" id="newsletter_email" value="" placeholder="E-mail Address">
                            <span class="input-group-btn">
                                <button class="btn btn-primary">SUBMIT</button>
                            </span>
                        </form>

                    </div>
                    <!-- /col #4 -->

                </div>

            </div>

            <hr />

            <div class="copyright">
                <div class="container text-center fsize12">
                    Epona theme by <a href="http://www.stepofweb.com" target="_blank" title="bootstrap themes &amp; templates" class="copyright">stepofweb</a> &bull; All Right Reserved &copy; Your Company LLC. &nbsp;
                    <a href="page-privacy.html" class="fsize11">Privacy Policy</a> &bull;
                    <a href="page-terms.html" class="fsize11">Terms of Service</a>
                </div>
            </div>
        </footer>
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div><!-- /#wrapper -->
    <!-- JAVASCRIPT FILES -->
    <script data-cfasync="false" src="~/Content/EponaTheme/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/jquery.isotope.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/masonry.js"></script>

    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/knob/js/jquery.knob.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/flexslider/jquery.flexslider-min.js"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/js/revolution_slider.js"></script>

    <script type="text/javascript" src="~/Content/EponaTheme/assets/js/scripts.js"></script>
</body>
</html>
