@using NamLao206.Models

@{
    namlao206dbEntities db = new namlao206dbEntities();
    if (User.Identity.IsAuthenticated)
    {
        var acc = db.Accounts.Where(x => x.Id.ToString().Equals(User.Identity.Name)).SingleOrDefault();
        if (acc == null)
        {
            // Gọi hàm Logout()
            Response.Redirect(Url.Action("Logout", "Login"));
        }
        ViewBag.acc = acc;
        ViewBag.Hoten = acc.Employee.Name;
        ViewBag.ThuChuaXem = db.Transports.Where(x => x.ReceiverUserId == acc.EmployeeId && x.DaXem == false).Take(5).ToList();
    }
    var user = ViewBag.acc as Account;
    var banners = db.Banners.Where(x => x.isActive == true).OrderByDescending(x => x.Id).ToList();
    var ThuChuaXem = ViewBag.ThuChuaXem as List<Transport>;
}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title Công ty TNHH MTV Hữu Nghị Nam Lào 206</title>
    <meta name="description" content="@ViewBag.Summary" />
    <meta property="og:title" content="@ViewBag.Title - Nam Lào 206">
    <meta property="og:description" content="@ViewBag.Summary">
    <meta property="og:image" content="@ViewBag.urlPic">

    <meta property="og:image" content="~/Content/EponaTheme/assets/images/logongangcongty.png" />
    <meta name="Author" content="Nam Lào 206" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/EponaTheme/assets/images/logo/logo512x512.png" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="~/Content/EponaTheme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/sky-forms.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/weather-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/line-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/plugins/owl-carousel/owl.pack.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/flexslider.css" rel="stylesheet" type="text/css" />

    <!-- REVOLUTION SLIDER -->
    <link href="~/Content/EponaTheme/assets/css/revolution-slider.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/layerslider.css" rel="stylesheet" type="text/css" />

    <!-- SHOP -->
    <link href="~/Content/EponaTheme/assets/css/layout-shop.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="~/Content/EponaTheme/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/header-4.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/footer-default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EponaTheme/assets/css/color_scheme/red.css" rel="stylesheet" type="text/css" id="color_scheme" />
    @*<script src="~/Scripts/jquery-3.7.1.min.js"></script>*@
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/jquery-2.2.3.min.js"></script>
    <!-- Morenizr -->
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/modernizr.min.js"></script>
    <script src="~/Scripts/bcommand.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/ckfinder/ckfinder.js"></script>
    <script src="~/Content/AdminBinhLT/assets/vendor/input-masks/cleave.min.js"></script>
    <!--[if lte IE 8]>
        <script src="~/Content/EponaTheme/assets/plugins/respond.js"></script>
    <![endif]-->  
</head>

<!--
    Available body classes:
        smoothscroll			= enable chrome browser smooth scroll
        grey 					= grey content background
        boxed 					= boxed style
        pattern1 ... pattern10 	= background pattern

    Background Image - add to body:
        data-background="~/Content/EponaTheme/assets/images/boxed_background/1.jpg"
-->
<body class="smoothscroll">

    <div id="wrapper">

        <div id="header">
            <!-- class="sticky" for sticky menu -->
            <!-- Top Bar -->
            <header id="topBar">
                <div class="container">

                    <div class="pull-left fsize13 hide_mobile">

                        <div class="block text-right">
                            <!-- social -->
                            <a href="#" class="social fa fa-facebook"></a>
                            <a href="#" class="social fa fa-twitter"></a>
                            <a href="#" class="social fa fa-google-plus"></a>
                            <a href="#" class="social fa fa-linkedin"></a>
                            <a href="#" class="social fa fa-pinterest"></a>
                        </div><!-- /social -->

                    </div>

                    <div id="barMain">
                        <nav class="nav-second">
                            <ul class="nav nav-pills nav-second">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="quick-cart dropdown pull-right">
                                        <a href="#" class="dropdown-toggle"><i class="fa fa-shopping-cart"></i>  Welcome, <strong>@ViewBag.Hoten</strong> <i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu pull-right">
                                            <li>
                                                <p style="color:red"><i class="fa fa-warning"></i><strong> Bạn có @ThuChuaXem.Count() công văn chưa xem</strong></p>
                                                <!-- CART CONTENT -->
                                                <div class="quick-cart-content">
                                                    @foreach (var item in ThuChuaXem)
                                                    {
                                                        <a class="quick-cart-item" href="~/TransportFiles/TransportFiles/Details/@item.FileId?flag=HopThuDen">
                                                            <!-- item 1 -->
                                                            @*<img class="pull-left" src="assets/images/demo/shop/thumb/1.jpg" width="40" alt="quick cart">*@
                                                            <div class="inline-block">
                                                                <span class="title block white">@item.TransportFile.tenFile</span>
                                                            </div>
                                                        </a><!-- /item N -->
                                                    }
                                                    <div class="row cart-footer">
                                                        <!-- cart footer -->
                                                        <div class="col-md-6 nopadding-right">
                                                            <a href="/Login/UpdateProfile" class="btn btn-primary fullwidth">My Settings</a>
                                                        </div>
                                                        <div class="col-md-6 nopadding-left">
                                                            <a href="@Url.Action("Logout","Login")" class="btn btn-info fullwidth">Đăng xuất</a>
                                                        </div>
                                                    </div><!-- /cart footer -->

                                                </div>
                                                <!-- /CART CONTENT -->

                                            </li>
                                        </ul>
                                    </li>

                                }
                                else
                                {
                                    <li><a href="/Login/Login" style="font-size:15px;">Đăng nhập thành viên</a></li>

                                }

                            </ul>
                        </nav>
                    </div>

                </div><!-- /.container -->
            </header>
            <!-- /Top Bar -->
            <!-- Top Nav -->
            <header id="topNav">
                <div class="container">

                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <img src="~/Content/EponaTheme/assets/images/logongangcongty.png" height="50" width="150" alt="" />
                    </a>

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Search -->
                    <form class="search" method="get" action="page-search.html">
                        <input type="text" class="form-control" name="s" value="" placeholder="Search">
                        <button class="fa fa-search"></button>
                    </form>
                    <!-- /Search -->
                    <!-- Top Nav -->
                    <div class="navbar-collapse nav-main-collapse collapse">
                        <nav class="nav-main">

                            <!--
                                NOTE

                                For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                                Direct Link Example:

                                <li>
                                    <a href="#">HOME</a>
                                </li>
                            -->
                            <ul id="topMain" class="nav nav-pills nav-main">
                                <li class="mega-menu dropdown">
                                    <a class="dropdown-toggle" href="/Home/Trangchu">
                                        <strong>TRANG CHỦ</strong><span>Xin chào</span>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#"><strong>GIỚI THIỆU</strong><span>Thông tin</span></a>
                                    <ul class="dropdown-menu">
                                        @Html.Partial("_topicsGioiThieu", new namlao206dbEntities().Topics)

                                    </ul>
                                </li>
                                <li class="dropdown mega-menu">
                                    <a class="dropdown-toggle" href="#"><strong>ĐƠN VỊ</strong><span>Phòng ban</span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="row">
                                                @Html.Partial("_menuPhongBan", new namlao206dbEntities().DM_NhomPhongBans)
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#"><strong>TIN TỨC</strong><span>Sự kiện</span></a>
                                    <ul class="dropdown-menu">
                                        @Html.Partial("_topicsNhom2", new namlao206dbEntities().Topics)
                                    </ul>
                                </li>
                                @if (user != null)
                                {
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#"><strong>CHỨC NĂNG</strong><span>nội bộ</span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="~/TransportFiles/TransportFiles/" style="color:white">Văn Phòng Điện Tử</a></li>
                                        </ul>
                                        @if (user.Employee.LevelId == 4)
                                        {
                                            <ul class="dropdown-menu">
                                                <li><a href="~/News/Index" style="color:white">Đăng bài viết</a></li>
                                            </ul>
                                        }
                                    </li>

                                }
                            </ul>

                        </nav>
                    </div>
                    <!-- /Top Nav -->

                </div><!-- /.container -->
            </header>
            <!-- /Top Nav -->

        </div>



        <!-- REVOLUTION SLIDER -->
        <!-- Banner -->
        <div class="container-fluid">
            <div class="slider fullwidthbanner-container roundedcorners">
                <div class="fullwidthbanner" data-height="450">
                    <ul class="hide">
                        @foreach (var item in banners)
                        {
                            @Html.Partial("_banner", item)
                        }
                    </ul>

                </div>
            </div>
        </div>

        <!-- /Banner -->
        <!-- /REVOLUTION SLIDER -->
        <!-- POPULAR -->
        <section>
            @RenderBody()
        </section>
        <!-- /POPULAR -->
        <!-- SECTION -->
        <section class="alternate">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h3><strong>LĨNH VỰC KINH DOANH CHÍNH</strong></h3>
                        <ul class="list-icon spaced check-circle">
                            @Html.Partial("_hinhThucKinhDoanh", new namlao206dbEntities().DM_hinhthuckinhdoanh)
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- sửa hình chân trang image -->
                        <img class="img-responsive appear-animation" data-animation="fadeIn" src="~/Content/EponaTheme/assets/images/anhkinhdoanh.png" alt="" />
                    </div><!-- /right image -->
                </div>

            </div>

            <div id="myModal" class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title float-left" id="myModalLabel"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <!-- Nếu bị ẩn sau modal thì chỉnh  z-index: 1060 !important; ở select2-container css -->
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /SECTION -->
        <!-- FOOTER -->
        <footer id="footer">
            <div class="container">

                <div class="row">

                    <!-- col #1 -->
                    <div class="logo_footer dark col-md-3">

                        <img alt="" src="~/Content/EponaTheme/assets/images/logo_footer.png" height="150" width="150" class="logo" />
                        <p class="block">
                            <!-- social -->
                            <a href="#" class="social fa fa-facebook"></a>
                            <a href="#" class="social fa fa-twitter"></a>
                            <a href="#" class="social fa fa-google-plus"></a>
                            <a href="#" class="social fa fa-linkedin"></a>
                        </p><!-- /social -->
                    </div>
                    <!-- /col #1 -->
                    <!-- col #2 -->
                    <div class="spaced col-md-3 col-sm-4 hidden-xs">
                        <h4 style="color: green; font-size: 20px; font-weight: bold;">Địa chỉ</h4>
                        <p>
                            38A Nguyễn Hữu Thọ, phường Hòa Thuận Tây, Quận Hải Châu, Thành phố Đà Nẵng
                        </p>
                    </div>
                    <!-- /col #2 -->
                    <!-- col #3 -->
                    <div class="spaced col-md-3 col-sm-4 hidden-xs">
                        <h4 style="color: green; font-size: 20px; font-weight: bold;">Email</h4>
                        <p>
                            Congtyhuunghinamlaoqk5@gmail.com
                        </p>
                    </div>
                    <!-- /col #3 -->
                    <!-- col #4 -->
                    <div class="spaced col-md-3 col-sm-4">
                        <h4 style="color: green; font-size: 20px; font-weight: bold;">Liên hệ chúng tôi </h4>
                        <p>
                            Quản lý Văn phòng trụ sở Đà Nẵng SĐT: +84 982169643 Nội dung Website: 0339939579
                        </p>
                    </div>
                    <!-- /col #4 -->
                </div>

            </div>

            <hr />

            <div class="copyright">
                <div class="container text-center fsize12">
                    Design by <a href="http://namlao206.vn" target="_blank" title="bootstrap themes &amp; templates" class="copyright">Phòng Tham Mưu - Kế Hoạch</a> &bull; All Right Reserved &copy; Công ty TNHH MTV Hữu Nghị Nam Lào &nbsp;
                    <a href="page-privacy.html" class="fsize11">2024</a> &bull;
                    <a href="page-terms.html" class="fsize11">0339939579</a>
                </div>
            </div>
        </footer>
        @*<style>
                #footer {
                    background-image: url('Content/EponaTheme/assets/images/backroungfooter.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    padding: 50px 0;
                    color: #fff;
                }
            </style>*@
        <!-- /FOOTER -->

        <a href="#" id="toTop"></a>

    </div><!-- /#wrapper -->
    <!-- JAVASCRIPT FILES -->
    <script data-cfasync="false" src="~/Content/EponaTheme/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/jquery.isotope.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/masonry.js"></script>

    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/knob/js/jquery.knob.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/flexslider/jquery.flexslider-min.js"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/EponaTheme/assets/js/revolution_slider.js"></script>

    <script type="text/javascript" src="~/Content/EponaTheme/assets/js/scripts.js"></script>
    <!-- Begin EMC Tracking Code -->
    <script type="text/javascript">
        var _govaq = window._govaq || [];
        _govaq.push(['trackPageView']);
        _govaq.push(['enableLinkTracking']);
        (function () {
            _govaq.push(['setTrackerUrl', 'https://f-emc.ngsp.gov.vn/tracking']);
            _govaq.push(['setSiteId', '4112']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = 'https://f-emc.ngsp.gov.vn/embed/gov-tracking.min.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End EMC Tracking Code -->
</body>
</html>
