@using NamLao206.Models
@using PagedList.Mvc
@using PagedList
@model PagedList.IPagedList<NamLao206.Models.News>

@{
    namlao206dbEntities db = new namlao206dbEntities();
    var news = db.News.OrderByDescending(x => x.Id).FirstOrDefault();
    var topics = ViewBag.topics as List<Topic>;
}


<div class="container">
    <!-- SEARCH -->
    @using (Html.BeginForm("NhomNews", "Home", FormMethod.Get))
    {
        @Html.Hidden("topic")
        @Html.Hidden("submenu")

        <form class="clearfix well well-sm search-big">
            <div class="input-group">               

                <input name="search" class="form-control input-lg" type="text" placeholder="Tìm kiếm...">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default input-lg"><i class="fa fa-fw fa-search fa-lg"></i></button>
                </div>
            </div>

            <h6 class="nomargin">
                About 34 results <small class="text-success">(0.45 seconds) </small>
            </h6>
        </form>
        <!-- /SEARCH -->

    }
    <div class="row">
        <div class="col-lg-9 col-xs-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.Topic.NhomNews != 1)
                    {
                        @Html.Partial("_itemNews", item)
                    }
                    else
                    {
                        @Html.Partial("_itemGioiThieu", item)
                    }
                }
            </div>
            @Html.PagedListPager(Model, page => Url.Action("NhomNews", "Home", new { page, search = ViewBag.search, topic = ViewBag.topic, submenu = ViewBag.submenu }))
        </div>
        <div class="col-lg-3 col-xs-12">
            @Html.Partial("_RightSide", news)
        </div>
    </div>
</div>

