@model NamLao206.Models.DM_PhongBans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DM_PhongBans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChucNang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChucNang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_NhomPhongBans.Nhomkhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_NhomPhongBans.Nhomkhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
