@model NamLao206.Models.CalrouselPicture

@{

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control is-invalid-cus" } })
                    @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div style="float:right">
            <button type="submit" class="mt-2 btn btn-success">Lưu</button>
            <button type="button" class="mt-2 btn btn-light" data-dismiss="modal">Đóng</button>
        </div>
    </div>
}
