@model NamLao206.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
      

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District.DistrictName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_Chucvus.Chucvu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_Chucvus.Chucvu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_Hocvis.tenHocvi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_Hocvis.tenHocvi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_PhongBans.TenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_PhongBans.TenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DM_Nghenghieps.Nghenghiep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DM_Nghenghieps.Nghenghiep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level.LevelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level.LevelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward.WardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward.WardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
